.burger-menu {
  display: block;
  margin-right: 3rem;
  margin-top: 0.4rem;
  &__icon {
    height: 24px;
    filter: invert(75%) sepia(0%) saturate(5385%) hue-rotate(35deg)
      brightness(94%) contrast(80%);
  }
  &__modal {
    display: block;
    height: 150px;
    width: 80%;
    border-radius: 10px;
    background-color: $off-white;
    // background-color: red;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    // margin-right: 1rem;
    padding: 1rem;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    box-shadow: -6px 6px 8px rgba($color: #000000, $alpha: 0.2);
    &--off {
      display: none;
    }
  }
  &__logo-container {
    width: 200px;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__logo-subcontainer {
    @include flex-row;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 1.2rem;
    // margin-left: 8rem;
    margin-right: 0.3rem;
    filter: invert(64%) sepia(34%) saturate(8%) hue-rotate(319deg)
      brightness(98%) contrast(95%);
  }
  &__title {
    color: $dark-carbon;
    font-family: "Poppins-ExtraBold";
    font-size: 1rem;
    &--light {
      font-family: "Poppins-Light";
      color: $medium-carbon;
    }
  }
  &__close-btn {
    height: 20px;
    filter: invert(51%) sepia(0%) saturate(1320%) hue-rotate(160deg)
      brightness(95%) contrast(90%);
  }
  &__menu {
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    // background-color: $sky;
    width: 200px;
    font-size: 0.8rem;
    color: $dark-carbon;
    text-align: center;
    padding: 1rem 0;
    border-top: 2px solid $neutral;
    &--watchlist {
      color: $medium-carbon;
      border-bottom: 2px solid $neutral;
    }
  }
}

@include tablet {
  .burger-menu {
    display: none;
  }
}
