@-webkit-keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}

.burger-menu {
  display: block;
  margin-right: 3rem;
  margin-top: 0.4rem;
  &__icon {
    height: 24px;
    filter: invert(75%) sepia(0%) saturate(5385%) hue-rotate(35deg)
      brightness(94%) contrast(80%);
  }
  &__modal {
    display: block;
    height: 140px;
    width: 90vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $off-white;
    // background-color: red;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(-10%);
    padding: 1rem;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    box-shadow: -6px 6px 8px rgba($color: #000000, $alpha: 0.2);
    -webkit-animation: swing-in-right-fwd 0.5s
      cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      both;
    &--off {
      display: none;
    }
  }
  &__logo-container {
    width: 50vw;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__logo-subcontainer {
    @include flex-row;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 1.2rem;
    // margin-left: 8rem;
    margin-right: 0.3rem;
    filter: invert(64%) sepia(34%) saturate(8%) hue-rotate(319deg)
      brightness(98%) contrast(95%);
  }
  &__title {
    color: $dark-carbon;
    font-family: "Poppins-ExtraBold";
    font-size: 1rem;
    &--light {
      font-family: "Poppins-Light";
      color: $medium-carbon;
    }
  }
  &__close-btn {
    height: 20px;
    filter: invert(51%) sepia(0%) saturate(1320%) hue-rotate(160deg)
      brightness(95%) contrast(90%);
  }
  &__menu {
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    // background-color: $sky;
    width: 90vw;
    font-size: 0.9rem;
    color: $carbon;
    text-align: center;
    padding: 1rem 0;
    border-top: 2px solid $neutral;
  }
}

@include tablet {
  .burger-menu {
    display: none;
  }
}
