@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("../assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Regular.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Thin";
  src: url("../assets/fonts/IBMPlexSans-Thin.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Thin.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-ThinItalic";
  src: url("../assets/fonts/IBMPlexSans-ThinItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-ThinItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-ExtraLight";
  src: url("../assets/fonts/IBMPlexSans-ExtraLight.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-ExtraLight.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-ExtraLightItalic";
  src: url("../assets/fonts/IBMPlexSans-ExtraLightItalic.ttf")
    format("truetype");
  src: url("../assets/fonts/IBMPlexSans-ExtraLightItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Light";
  src: url("../assets/fonts/IBMPlexSans-Light.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Light.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-LightItalic";
  src: url("../assets/fonts/IBMPlexSans-LightItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-LightItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../assets/fonts/IBMPlexSans-Medium.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Medium.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-MediumItalic";
  src: url("../assets/fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-MediumItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../assets/fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-SemiBold.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  src: url("../assets/fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-SemiBoldItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Bold.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-BoldItalic";
  src: url("../assets/fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-BoldItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-BoldItalic.woff2") format("woff2");
}
