@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.header {
  margin-top: 3rem;
  &__img {
    width: 100%;
    height: 60vh;
    // height: 25rem;
    position: relative;
    object-fit: cover;
    filter: grayscale(30%);
  }
  &__form {
    @include flex-column;
    @include justify-align-center;
    position: absolute;
    width: 100vw;
    top: 25%;
  }
  &__container {
    @include flex-column;
    @include justify-align-center;
  }
  &__label {
    font-family: "Poppins-ExtraBold";
    font-size: 1.5rem;
    text-shadow: 4px 4px 10px black;
    text-align: center;
    margin-bottom: 2rem;
    color: $white;
  }
  &__input {
    height: 3rem;
    width: 80vw;
    background-color: $white;
    border: none;
    border-radius: 30px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-family: "IBMPlexSans-ExtraLight";
    font-size: 1.7rem;
  }
  &__btn {
    font-family: "IBMPlexSans-Regular";
    background-color: $watermelon;
    color: $white;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    border: none;
    width: 80vw;
    height: 3rem;
    border-radius: 30px;
    &--anim {
      background-color: #00aad0;
      color: #00aad0;
      display: block;
      -webkit-animation: puff-out-center 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
        both;
      animation: puff-out-center 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    }
  }
}

@include tablet {
  .header {
    &__img {
      width: 100%;
      height: 60vh;
      object-fit: cover;
      position: relative;
      filter: grayscale(30%);
    }
    &__form {
      @include flex-row;
      align-items: flex-start;
      width: 100%;
      top: 25%;
      // left: 7%;
    }
    &__container {
      @include flex-column;
      align-items: flex-end;
      margin-top: 0.5rem;
      margin-right: 6rem;
    }
    &__label {
      font-size: 1.8rem;
      text-shadow: 4px 4px 10px black;
      text-align: left;
      color: $white;
      width: 40%;
      margin-left: 6rem;
      margin-right: 2rem;
    }
    &__input {
      height: 2.2rem;
      width: 90%;
    }
    &__btn {
      font-family: "IBMPlexSans-Bold";
      background-color: $watermelon;
      color: $white;
      font-size: 0.6rem;
      letter-spacing: 0.2rem;
      border: none;
      width: 50%;
      height: 2.2rem;
      border-radius: 30px;
    }
  }
}

@include desktop {
  .header {
    margin-top: 5rem;

    &__img {
      width: 100%;
      height: 60vh;
      object-fit: cover;
      position: relative;
      filter: grayscale(30%);
    }
    &__form {
      justify-content: space-between;
      align-items: flex-start;
      left: 0;
      width: 100vw;
      margin-top: 1rem;
    }
    &__container {
      margin-top: 1rem;
      margin-right: 7rem;
      width: 40%;
    }
    &__label {
      font-family: "Poppins-ExtraBold";
      font-size: 2.5rem;
      line-height: 4.5rem;
      letter-spacing: -0.1rem;
      width: 40vw;
      color: $white;
      // margin-right: 2rem;
      margin-left: 8rem;
    }
    &__input {
      height: 3.5rem;
      width: 100%;
      background-color: $white;
      border: none;
      // border: 2px solid $carbon;
      border-radius: 30px;
      margin-bottom: 1rem;
      padding-left: 1rem;
      font-family: "IBMPlexSans-ExtraLight";
      font-size: 1.7rem;
    }
    &__btn {
      font-family: "IBMPlexSans-Bold";
      background-color: $watermelon;
      color: $white;
      font-size: 0.8rem;
      letter-spacing: 0.2rem;
      border: none;
      width: 50%;
      height: 3.5rem;
      border-radius: 30px;
    }
  }
}

@include wide {
  .header {
    margin-top: 14rem;
    &__form {
      margin-top: 6rem;
    }
    &__container {
      margin-top: 1rem;
      margin-right: 10rem;
      width: 40%;
    }
    &__label {
      font-size: 3rem;
      width: 35vw;
      margin-left: 10rem;
    }
    &__input {
      height: 3.5rem;
      width: 70%;
      margin-bottom: 1rem;
      padding-left: 1rem;
    }
    &__btn {
      width: 30%;
      height: 3.5rem;
    }
  }
}
