.header {
  margin-top: 5rem;
  &__img {
    width: 100%;
    height: 700px;
    position: relative;
    filter: grayscale(30%);
  }
  &__form {
    @include flex-row;
    @include justify-align-center;
    // background-color: $eggshell;
    // height: 200px;
    // width: 800px;
    // padding: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -180px;
    // margin: 8rem;
    // box-shadow: 4px 4px 40px rgba($eggshell, $alpha: 0.3);
  }
  &__container {
    @include flex-column;
    align-items: flex-end;
    margin-left: 3rem;
    width: 510px;
  }
  &__label {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4.5rem;
    width: 500px;
    color: $white;
    margin-right: 2rem;
  }
  &__input {
    height: 3.5rem;
    width: 500px;
    background-color: $white;
    border: 2px solid $light-green;
    border-radius: 30px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-family: "IBMPlexSans-ExtraLight";
    font-size: 1.7rem;
  }
  &__btn {
    background-color: $yellow;
    color: $light-green;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    border: none;
    width: 16rem;
    height: 3.5rem;
    border-radius: 30px;
  }
}
