// Sizes and Breakpoints
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin wide {
  @media screen and (min-width: $wide-breakpoint) {
    @content;
  }
}

// Flex Properties
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin justify-align-center {
  justify-content: center;
  align-items: center;
}
