.details-comments {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: $white;
  padding: 3rem 0;
  position: absolute;
  top: 175%;
  width: 100%;
  box-shadow: -4px -4px 12px rgba($color: #000000, $alpha: 0.2);
  @include flex-column;
  @include justify-align-center;
  &__title {
    font-family: "Poppins-ExtraBold";
    margin-bottom: 1rem;
    color: $dark-carbon;
    font-size: 1.5rem;
    text-align: center;
  }
  &__form {
    @include flex-column;
    @include justify-align-center;
    width: 90%;
    padding-bottom: 3rem;
    border-bottom: 2px solid $neutral;
  }
  &__user {
    height: 1rem;
    width: 90%;
    margin-bottom: 1rem;
    border: 2px solid $neutral;
    border-radius: 10px;
    padding: 1rem;
    font-family: "IBMPlexSans-Light";
    font-size: 1rem;
    color: $carbon;
  }
  &__input {
    height: 8rem;
    width: 90%;
    margin-bottom: 1rem;
    border: 2px solid $neutral;
    border-radius: 10px;
    padding: 1rem;
    font-family: "IBMPlexSans-Light";
    font-size: 1rem;
    color: $carbon;
  }
  &__btn {
    font-family: "IBMPlexSans-Bold";
    font-size: 0.85rem;
    font-weight: 500;
    width: 90%;
    height: 2.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: $off-white;
    background-color: $watermelon;
    border: none;
    letter-spacing: 0.2rem;
    &:hover {
      box-shadow: 2px 2px 4px rgba($color: $dark-carbon, $alpha: 0.5);
      background-color: $dark-watermelon;
      // color: $dark-carbon;
      font-family: "Poppins-ExtraBold";
      font-size: 0.9rem;
      letter-spacing: 0;
      transition: $transition-900;
      cursor: pointer;
    }
  }
  &__comment {
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid $neutral;
    width: 80%;
  }
  &__comment-container {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__comment-username {
    font-family: "Poppins-Regular";
    font-size: 1rem;
    color: $black;
  }
  &__comment-email {
    font-family: "IBMPlexSans-ExtraLight";
    font-size: 0.8rem;
    color: $medium-carbon;
  }
  &__comment-date {
    font-family: "IBMPlexSans-Regular";
    font-size: 0.75rem;
    color: $carbon;
  }
  &__comment-text {
    font-family: "IBMPlexSans-Light";
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: $dark-carbon;
    text-align: justify;
  }
}

@include tablet {
  .details-comments {
    top: 155%;
    &__title {
      text-align: left;
      margin-left: 1.5rem;
    }
    &__btn {
      align-self: flex-end;
      margin-right: 1.5rem;
      width: 30%;
    }

    &__comment {
      padding: 0 2rem 2rem 2rem;
    }
    &__comment-username {
      font-size: 1.16rem;
    }
    &__comment-email {
      font-size: 1rem;
    }
    &__comment-date {
      font-size: 1rem;
    }
    &__comment-text {
      font-size: 1rem;
    }
  }
}

@include desktop {
  .details-comments {
    top: 95%;
    &__title {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $dark-carbon;
      width: 90%;
    }
    &__form {
      justify-content: flex-start;
      align-items: center;

      padding-bottom: 3rem;
      border-bottom: 2px solid $neutral;
    }
    &__btn {
      align-self: flex-end;
      margin-right: 3rem;
      height: 2.8rem;
      width: 20%;
    }
    &__comment {
      margin-top: 2rem;
      padding-bottom: 2.5rem;
      border-bottom: 2px solid $neutral;
    }
    &__comment-container {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    &__comment-username {
      font-family: "Poppins-Regular";
      font-size: 1.3rem;
      color: $black;
    }
    &__comment-email {
      font-family: "IBMPlexSans-ExtraLight";
      font-size: 1rem;
      color: $medium-carbon;
    }
    &__comment-date {
      font-family: "IBMPlexSans-Regular";
      font-size: 1rem;
      color: $carbon;
    }
    &__comment-text {
      font-family: "IBMPlexSans-Light";
      font-size: 1.2rem;
      color: $dark-carbon;
    }
  }
}

@include wide {
  .details-comments {
    top: 105%;
    &__btn {
      margin-right: 4rem;
      height: 2.8rem;
      width: 15%;
    }
  }
}
