.movie-details {
  background-color: $white;
  padding: 4rem 8rem;
  &__poster {
    height: 400px;
    width: 280px;
    margin-right: 4rem;
    border-radius: 10px;
    box-shadow: -6px 6px 8px #1b1b1b;
  }
  &__container {
    @include flex-row;
  }
  &__info {
    @include flex-column;
    justify-content: flex-start;
  }
  &__title {
    font-family: "IBMPlexSans-Bold";
    letter-spacing: -0.1rem;
    font-size: 3rem;
    margin-bottom: 0.3rem;
  }
  &__date {
    margin-bottom: 0.5rem;
  }
  &__cast {
    margin-bottom: 1rem;
  }
  &__streaming {
    margin-top: 4rem;
  }
  &__streaming-title {
    font-size: 0.85rem;
    font-weight: 500;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
    border-radius: 10px;
    color: $light-green;
    background-color: $yellow;
  }
  &__streaming-logos {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
  }
  &__streaming-service {
    width: 100px;
    margin-right: 2rem;
  }
}
