.details-comments {
  padding: 2.5rem 8rem;
  &__title {
    font-family: "IBMPlexSans-Bold";
    margin-bottom: 1rem;
  }
  &__form {
    @include flex-column;
    justify-content: flex-start;
    padding-bottom: 3rem;
    border-bottom: 2px solid $eggshell;
  }
  &__input {
    height: 3rem;
    width: 800px;
    margin-bottom: 1rem;
    border: 2px solid $eggshell;
    border-radius: 10px;
    padding: 1rem;
    font-family: "IBMPlexSans-Light";
    font-size: 1.2rem;
    color: $light-green;
  }
  &__btn {
    justify-self: flex-end;
    height: 2.5rem;
    width: 200px;
    border-radius: 20px;
    background-color: $yellow;
    border: none;
  }
  &__comment {
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid $eggshell;
  }
  &__comment-container {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__comment-username {
    font-family: "IBMPlexSans-SemiBold";
    font-size: 1.5rem;
  }
  &__comment-email {
    font-family: "IBMPlexSans-ExtraLight";
    font-size: 1rem;
  }
  &__comment-date {
    font-family: "IBMPlexSans-Medium";
    font-size: 1rem;
    color: $light-green;
  }
  &__comment-text {
    font-family: "IBMPlexSans-Light";
    font-size: 1.2rem;
    color: $light-green;
  }
}
