@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  background-color: $off-white;
  height: 6rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999999;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 1.6rem;
    // margin-left: 8rem;
    margin-right: 1rem;
    filter: invert(64%) sepia(34%) saturate(8%) hue-rotate(319deg)
      brightness(98%) contrast(95%);
  }
  &__title {
    color: $dark-carbon;
    font-family: "Poppins-ExtraBold";
    font-size: 1.3rem;
    &:hover {
      letter-spacing: 0.5rem;
      transition: $transition-500;
      cursor: pointer;
    }

    &--light {
      font-family: "Poppins-Light";
      color: $medium-carbon;
    }
  }
  &__container {
    @include flex-row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
  }
  &__subcontainer {
    display: none;
  }
}

@include tablet {
  .navbar {
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    &__container {
      margin-left: 6rem;
    }
    &__subcontainer {
      @include flex-row;
      justify-content: space-between;
      width: 180px;
      margin-right: 6rem;
    }
    &__menu-item {
      font-size: 0.9rem;
      color: $carbon;
      -webkit-animation: tracking-in-expand 0.7s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
      &:hover {
        font-family: "IBMPlexSans-Bold";
        color: $dark-carbon;
        transition: $transition-500;
      }
    }
  }
}

@include desktop {
  .navbar {
    background-color: $off-white;
    height: 7rem;
    // padding: 2rem 0 0 8rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999999;

    &__logo {
      width: 30px;
    }
    &__container {
      margin-left: 8rem;
    }
    &__subcontainer {
      width: 210px;
      margin-right: 8rem;
    }
    &__menu-item {
      font-size: 1rem;
    }
  }
}

@include wide {
  .navbar {
    height: 8rem;
    &__logo {
      width: 2.2rem;
    }
    &__title {
      font-size: 1.7rem;
    }
    &__container {
      margin-left: 10rem;
    }
    &__subcontainer {
      margin-right: 10rem;
    }
    &__menu-item {
      font-size: 1.2rem;
    }
  }
}
