.navbar {
  background-color: $eggshell;
  height: 8rem;
  // padding: 2rem 0 0 8rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999999;
  &__title {
    color: $dark-green;
    font-weight: 200;
    margin: 2rem 0 0 8rem;
  }
}
