.playlist {
  background-color: $white;
  padding: 12rem 8rem 10rem 8rem;
  &__title {
    font-family: "IBMPlexSans-Bold";
    letter-spacing: -0.1rem;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  &__container {
    @include flex-row;
    flex-wrap: wrap;
  }
}
