.playlist {
  background-color: $neutral;
  @include flex-column;
  @include justify-align-center;
  &__title {
    font-family: "Poppins-ExtraBold";
    letter-spacing: -0.1rem;
    font-size: 2rem;
    margin-top: 8rem;
    // margin-bottom: 3rem;
    color: $dark-carbon;
    // display: inline-block;
  }
  &__container {
    // @include flex-row;
    // flex-wrap: wrap;
    @include flex-column;
    @include justify-align-center;
    // width: 100%;
  }
}

@include tablet {
  .playlist {
    &__title {
      align-self: flex-start;
      margin-left: 4.5rem;
    }
    &__container {
      @include flex-row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: 4.5rem;
    }
  }
}

@include desktop {
  .playlist {
    &__title {
      margin-left: 8rem;
      margin-top: 10rem;
      font-size: 2.5rem;
    }
    &__container {
      @include flex-row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: 8rem;
      margin-right: 8rem;
    }
  }
}
