.playlist {
  background-color: $neutral;
  @include flex-column;
  align-items: center;
  // @include justify-align-center;
  height: 100vh;
  &__title {
    font-family: "Poppins-ExtraBold";
    letter-spacing: -0.1rem;
    font-size: 2rem;
    margin-top: 8rem;
    // margin-bottom: 3rem;
    color: $dark-carbon;
    // display: inline-block;
  }
  &__container {
    @include flex-column;
    @include justify-align-center;
  }
}

@include tablet {
  .playlist {
    &__title {
      align-self: flex-start;
      margin-left: 6rem;
    }
    &__container {
      width: 75%;
      @include flex-row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 6rem;
      margin-right: 6rem;
    }
  }
}

@include desktop {
  .playlist {
    &__title {
      margin-left: 8rem;
      margin-top: 10rem;
      font-size: 2.5rem;
    }
    &__container {
      flex-wrap: wrap;
      margin-left: 8rem;
      margin-right: 8rem;
    }
  }
}
@include wide {
  .playlist {
    &__title {
      margin-left: 10rem;
      margin-top: 11rem;
    }
    &__container {
      width: 78%;
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
}
