.playlist-item {
  @include flex-column;
  @include justify-align-center;
  // margin-right: 3rem;
  padding: 2rem 0;
  border-bottom: 1px solid $carbon;

  &__poster {
    height: 22rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    &:hover {
      box-shadow: 2px 2px 8px black;
    }
  }
  &__movie-title {
    // font-family: "IBMPlexSans-SemiBold";
    font-family: "Poppins-ExtraBold";
    font-size: 1.3rem;
    color: $dark-carbon;
  }
  &__movie-subtitle {
    font-family: "Poppins-Regular";
    font-size: 1rem;
    color: $medium-carbon;
  }
  &__container {
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    height: 90px;
    width: 90%;
  }
  &__btn-remove {
    font-family: "IBMPlexSans-Bold";
    width: 180px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: $watermelon;
    color: $off-white;
    border-radius: 20px;
  }
  &__btn-details {
    font-family: "IBMPlexSans-Bold";
    width: 180px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: $sky;
    color: $dark-carbon;
    border-radius: 20px;
    margin: 1rem 0;
  }
  &__menu {
    font-family: "IBMPlexSans-Bold";
    width: 180px;
    border: none;
    padding: 0.5rem 1rem;
    color: $white;
    background-color: $carbon;
    border-radius: 20px;
  }
}

@include tablet {
  .playlist-item {
    // margin-right: 2rem;
    border-bottom: none;
    &__poster {
      height: 350px;
    }
    &__container {
      width: 100%;
      height: auto;
      @include flex-row;
      justify-content: space-between;
    }
  }
}

@include desktop {
  .playlist-item {
    // margin-right: 2.7rem;
    margin-bottom: 2rem;
    border-bottom: none;
  }
}

@include desktop {
  .playlist-item {
    &__container {
      width: 100%;
    }
  }
}
