.playlist {
  background-color: $neutral;
  @include flex-column;
  align-items: center;
  // @include justify-align-center;
  height: 100vh;
  &__title-container {
    @include flex-column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
  &__title {
    font-family: "Poppins-ExtraBold";
    letter-spacing: -0.1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $dark-carbon;
    -webkit-animation: tracking-in-expand 0.7s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  &__share-btn {
    border: none;
    padding: 0.5rem 1rem;
    font-family: "IBMPlexSans-Bold";
    background-color: $sky;
    color: $dark-carbon;
    border-radius: 20px;
    width: 240px;
    height: 2.2rem;
    letter-spacing: 0.2rem;
    &:hover {
      font-family: "Poppins-ExtraBold";
      letter-spacing: 0;
      background-color: $watermelon;
      color: $white;
      box-shadow: 2px 2px 2px rgba($color: $dark-carbon, $alpha: 0.4);
      cursor: pointer;
      transition: $transition-500;
    }
  }
  &__container {
    @include flex-column;
    @include justify-align-center;
  }
}

@include tablet {
  .playlist {
    &__title-container {
      @include flex-row;
      justify-content: flex-start;
      align-items: center;
      align-self: flex-start;
      margin-bottom: 1rem;
      margin-left: 6rem;
      margin-right: 6rem;
      width: 75%;
    }
    &__title {
      margin-bottom: 0;
      margin-right: 2rem;
    }
    &__share-btn {
      width: 160px;
    }
    &__container {
      width: 75%;
      @include flex-row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 6rem;
      margin-right: 6rem;
    }
  }
}

@include desktop {
  .playlist {
    &__title-container {
      @include flex-row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 8rem;
      margin-top: 10rem;
    }
    &__title {
      font-size: 2.5rem;
    }
    &__container {
      flex-wrap: wrap;
      margin-left: 8rem;
      margin-right: 8rem;
    }
  }
}
@include wide {
  .playlist {
    align-items: flex-start;
    &__title-container {
      margin-left: 10rem;
      margin-right: 10rem;
    }
    &__container {
      @include flex-row;
      justify-content: flex-start;
      width: 85%;
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
}
