@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.random-movie {
  background-color: $off-white;
  height: 90vw;
  padding-top: 4rem;
  @include flex-column;
  align-items: center;
  position: relative;
  &__title {
    font-family: "Poppins-ExtraBold";
    letter-spacing: -0.1rem;
    font-size: 1.5rem;
    width: 80vw;
    text-align: center;
    color: $dark-carbon;
  }
  &__subtitle {
    color: $medium-carbon;
    font-size: 0.8rem;
    width: 45vw;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__btn {
    font-family: "IBMPlexSans-Bold";
    background-color: $sky;
    color: $dark-carbon;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    border: none;
    width: 80vw;
    height: 3rem;
    border-radius: 30px;
  }
}

.rm-modal {
  display: none;
  &--visible {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 99;
    background-color: $off-white;
    height: auto;
    width: 100vw;
    border-radius: 60px;
    padding: 2rem 0 3rem 0;
    @include flex-column;
    align-items: center;
    box-shadow: 4px 4px 50px rgba($color: #000000, $alpha: 1);
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  &__close-btn {
    height: 40px;
    margin-bottom: 2rem;
    filter: invert(51%) sepia(0%) saturate(1320%) hue-rotate(160deg)
      brightness(95%) contrast(90%);
  }
  &__title {
    font-family: "Poppins-ExtraBold";
    font-size: 1.1rem;
    height: 2.5rem;
    width: 80vw;
    @include flex-column;
    justify-content: center;
    align-items: center;
    color: $dark-carbon;
    background-color: $sky;
    margin-bottom: 1.5rem;
  }
  &__poster {
    height: 50vh;
    width: 82vw;
    object-fit: cover;
    border-radius: 10px;
    &:hover {
      box-shadow: 2px 2px 8px black;
    }
  }
  &__movie-title {
    font-family: "IBMPlexSans-SemiBold";
    color: $dark-carbon;
    width: 80vw;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  &__year {
    font-family: "IBMPlexSans-Regular";
    color: $dark-carbon;
    font-size: 1rem;
  }
  &__btn-container {
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 80vw;
    margin-top: 1rem;
  }
}

@include tablet {
  .random-movie {
    &__title {
      font-size: 1.7rem;
      width: 35vw;
      text-align: center;
      color: $dark-carbon;
    }
    &__subtitle {
      font-size: 0.8rem;
      width: 45vw;
      text-align: center;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }
    &__btn {
      font-size: 0.8rem;
      width: 20vw;
    }
  }

  .rm-modal {
    &--visible {
      left: 25%;
      transform: translate(20%);
      width: 50vw;
      height: auto;
      padding-top: 3rem;
      @include flex-column;
      align-items: center;
    }
    &__title {
      font-size: 1.2rem;
      height: 2.5rem;
      width: 40vw;
      margin-bottom: 1.2rem;
    }
    &__poster {
      height: auto;
      width: 35vw;
    }

    &__btn-container {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      height: auto;
      width: 35vw;
      margin-top: 1rem;
    }
  }
}

@include desktop {
  .random-movie {
    padding-top: 5rem;
    height: 50vh;
    &__title {
      font-size: 2.5rem;
      width: 37vw;
    }
    &__subtitle {
      font-size: 0.9rem;
    }
    &__btn {
      font-family: "IBMPlexSans-Bold";
      background-color: $sky;
      color: $dark-carbon;
      font-size: 0.8rem;
      letter-spacing: 0.2rem;
      border: none;
      width: 15vw;
      height: 3rem;
      border-radius: 30px;
    }
  }

  .rm-modal {
    &--visible {
      height: auto;
      width: 40vw;
      left: 30%;
      transform: translate(30%);
    }
    &__title {
      font-family: "Poppins-ExtraBold";
      letter-spacing: -0.1rem;
      font-size: 2rem;
      height: 4rem;
      width: 35vw;
      @include flex-column;
      justify-content: center;
      align-items: center;
      color: $dark-carbon;
      background-color: $sky;
      margin-bottom: 2rem;
    }
    &__poster {
      height: auto;
      width: 25vw;
    }
    &__movie-title {
      font-family: "IBMPlexSans-Regular";
      color: $dark-carbon;
      font-size: 1.4rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    &__year {
      font-family: "IBMPlexSans-Regular";
      color: $dark-carbon;
      font-size: 1.1rem;
    }
    &__btn-container {
      @include flex-row;
      justify-content: space-between;
      width: 25vw;
    }
  }
}
