.results-item {
  @include flex-column;
  @include justify-align-center;
  margin-right: 3rem;
  margin-left: 2rem;
  &__poster {
    height: 350px;
    border-radius: 10px;
    &:hover {
      box-shadow: 2px 2px 8px black;
    }
  }
  &__movie-title {
    font-family: "Poppins-Regular";
    color: $dark-carbon;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    height: 3.5rem;
  }

  &__container {
    width: 240px;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  &__btn-playlist {
    border: none;
    padding: 0.5rem 1rem;
    background-color: $sky;
    color: $dark-carbon;
    // border: 1px solid $carbon;
    font-family: "IBMPlexSans-Bold";
    border-radius: 20px;
    width: 240px;
    height: 2.2rem;
    &--add {
      background-color: $sky;
      color: $dark-carbon;
      width: 240px;
      height: 2.2rem;
    }
    &--remove {
      background-color: $medium-carbon;
      color: $off-white;
      width: 240px;
      height: 2.2rem;
    }
  }
  &__btn-details {
    border: none;
    padding: 0.5rem 1rem;
    background-color: $watermelon;
    color: $off-white;
    font-family: "IBMPlexSans-Bold";
    border-radius: 20px;
    width: 240px;
    height: 2.2rem;
  }
}

@include tablet {
  .results-item {
    @include flex-column;
    @include justify-align-center;
    margin-right: 3rem;
    margin-left: 2rem;
    &__poster {
      height: 350px;
      border-radius: 10px;
      &:hover {
        box-shadow: 2px 2px 8px black;
      }
    }
    &__movie-title {
      font-family: "Poppins-Regular";
      color: $dark-carbon;
      font-size: 1rem;
      text-align: center;
      margin-top: 1rem;
      height: 3.5rem;
    }

    &__container {
      width: 240px;
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }
    &__btn-playlist {
      border: none;
      padding: 0.5rem 1rem;
      background-color: $sky;
      color: $dark-carbon;
      // border: 1px solid $carbon;
      font-family: "IBMPlexSans-Bold";
      border-radius: 20px;
      height: 2.2rem;
      &--add {
        background-color: $sky;
        color: $dark-carbon;
        width: 110px;
        height: 2.2rem;
      }
      &--remove {
        background-color: $medium-carbon;
        color: $off-white;
        width: 110px;
        height: 2.2rem;
      }
    }
    &__btn-details {
      border: none;
      padding: 0.5rem 1rem;
      background-color: $watermelon;
      color: $off-white;
      font-family: "IBMPlexSans-Bold";
      border-radius: 20px;
      width: 110px;
      height: 2.2rem;
    }
  }
}

@include desktop {
  .results-item {
    &__btn-playlist {
      &--add {
        width: 110px;
      }
      &--remove {
        width: 110px;
      }
    }
    &__btn-details {
      width: 110px;
    }
  }
}
