@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

.search-modal {
  display: none;
  &__visible {
    // display: block;
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.search-results {
  background-color: $white;
  height: 45rem;
  width: 100%;
  margin: 11rem 0;
  border-radius: 20px;
  box-shadow: 4px 4px 50px rgba($color: #ffffff, $alpha: 0.3);
  position: absolute;
  z-index: 9999999999;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  &__title-container {
    @include flex-row;
    justify-content: space-between;
    margin: 2rem 1.5rem 1rem 1.5rem;
  }
  &__title {
    font-family: "Poppins-Light";
    color: $medium-carbon;
    font-size: 1.5rem;
    -webkit-animation: tracking-in-expand 0.7s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  &__name {
    font-family: "Poppins-ExtraBold";
    color: $dark-carbon;
  }
  &__container {
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    padding: 1.7rem 0;
    // margin-left: 1rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    // overflow-x: hidden;
    &::-webkit-scrollbar {
      height: 20px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: $carbon;
      border-radius: 10px;
    }
  }

  &__subcontainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__playlist-btn {
    background-color: $carbon;
    color: $off-white;
    font-family: "IBMPlexSans-Bold";
    font-size: 0.6rem;
    border-radius: 30px;
    height: 2rem;
    padding: 0 1.5rem;
    // letter-spacing: 0.2rem;
    text-align: center;
    @include flex-row;
    justify-content: center;
    align-items: center;
    &:hover {
      box-shadow: 2px 2px 12px rgba($color: $carbon, $alpha: 0.4);
      background-color: $sky;
      color: $dark-carbon;
      font-family: "Poppins-ExtraBold";
      font-size: 0.9rem;
      letter-spacing: 0;
      transition: $transition-500;
      cursor: pointer;
    }
  }
  &__close {
    justify-self: flex-end;
    height: 2.5rem;
    border: none;
    background-color: rgba($color: #ffffff, $alpha: 0);
  }
}

@include tablet {
  .search-results {
    height: 45rem;
    width: 75%;
    margin-top: 11rem;
    margin-left: 6rem;
    margin-right: 6rem;

    &__title-container {
      @include flex-row;
      justify-content: space-between;
      margin: 2rem;
    }
    &__title {
      font-family: "Poppins-Light";
      color: $medium-carbon;
    }
    &__name {
      font-family: "Poppins-ExtraBold";
      color: $dark-carbon;
    }
    &__container {
      @include flex-row;
      justify-content: flex-start;
      align-items: flex-start;
      height: 76%;
      width: 100%;
      padding: 1.7rem 0;
      margin-left: 0;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
    }

    &__subcontainer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__playlist-btn {
      font-size: 0.9rem;
      height: 3rem;
    }
    &__close {
      justify-self: flex-end;
      height: 2.5rem;
      border: none;
      background-color: rgba($color: #ffffff, $alpha: 0);
    }
  }
}

@include desktop {
  .search-results {
    height: 78%;
    width: 75%;
    margin-left: 8rem;
    margin-right: 8rem;

    &__title-container {
      @include flex-row;
      justify-content: space-between;
      margin: 2rem 3rem;
    }

    &__container {
      height: 82%;
      width: 100%;
    }

    &__subcontainer {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      width: 220px;
    }
  }
}

@include wide {
  .search-results {
    height: 38rem;
    width: 78%;
    margin-top: 7.5rem;
    margin-left: 10rem;
    margin-right: 10rem;

    &__container {
      height: 80%;
      width: 100%;
    }
  }
}
