@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

.search-modal {
  display: none;
  &__visible {
    // display: block;
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.search-results {
  background-color: $white;
  height: 550px;
  //   width: 1400px;
  width: 80%;
  margin: 10rem 8rem;
  border-radius: 20px;
  box-shadow: 4px 4px 50px rgba($color: #ffffff, $alpha: 0.3);
  padding: 3rem;
  position: absolute;
  z-index: 9999999999;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  &__title-container {
    @include flex-row;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 2rem;
    font-family: "Poppins-Light";
    color: $medium-carbon;
  }
  &__name {
    font-family: "Poppins-ExtraBold";
    color: $dark-carbon;
  }
  &__container {
    @include flex-row;
    padding: 1.7rem 0;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 20px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: $carbon;
      border-radius: 10px;
    }
  }
  &__subcontainer {
    @include flex-row;
    align-items: flex-start;
    margin-top: 0.25rem;
  }
  &__playlist-btn {
    background-color: $carbon;
    color: $off-white;
    font-family: "IBMPlexSans-Bold";
    font-size: 0.9rem;
    border-radius: 20px;
    margin-right: 2rem;
    height: 2.5rem;
    padding: 0 1.5rem;
    @include flex-row;
    justify-content: center;
    align-items: center;
  }
  &__close {
    height: 2.5rem;
    border: none;
    background-color: rgba($color: #ffffff, $alpha: 0);
  }
}
