// Sizes and Breakpoints
$wide-breakpoint: 1280px;
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;

// Color Scheme
$dark-green: #303841;
$light-green: #3a4750;
$yellow: #f6c90e;
$eggshell: #eeeeee;
$white: #f6f6f6;

// Transitions
$transition-900: all 900ms ease;
$transition-700: all 700ms ease;
$transition-650: all 650ms ease;
$transition-500: all 500ms ease;
