// Sizes and Breakpoints
$wide-breakpoint: 1280px;
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;

// Color Scheme
$dark-green: #303841;
$carbon: #3a4750;
$watermelon: #f6c90e;
$neutral: #eeeeee;

//
$black: #222831;
$white: #fafafa;
$off-white: #fbfdff;
$sky: #caebf2;
$carbon: #a9a9a9;
$medium-carbon: #7b7b7b;
$dark-carbon: #545050;
$watermelon: #ff3b3f;
$neutral: #efefef;

// Transitions
$transition-900: all 900ms ease;
$transition-700: all 700ms ease;
$transition-650: all 650ms ease;
$transition-500: all 500ms ease;
