@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/navbar";
@import "./partials/header";
@import "./partials/movieDetails";
@import "./partials/movieDetailsComments";
@import "./partials//searchResultsModal";
@import "./partials/searchResultsItem";
@import "./partials/shareMovieModal";
@import "./partials/playlist";
@import "./partials/playlistItem";
@import "./partials/burgerMenu";
@import "./partials/randomMovieModal";

* {
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSans-Regular";
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $neutral;
}

a {
  text-decoration: none;
}
