@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/navbar";
@import "./partials/header";
@import "./partials/movieDetails";
@import "./partials/movieDetailsComments";

* {
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSans-Regular";
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
}
