@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("../assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Regular.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Thin";
  src: url("../assets/fonts/IBMPlexSans-Thin.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Thin.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-ThinItalic";
  src: url("../assets/fonts/IBMPlexSans-ThinItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-ThinItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-ExtraLight";
  src: url("../assets/fonts/IBMPlexSans-ExtraLight.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-ExtraLight.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-ExtraLightItalic";
  src: url("../assets/fonts/IBMPlexSans-ExtraLightItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-ExtraLightItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Light";
  src: url("../assets/fonts/IBMPlexSans-Light.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Light.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-LightItalic";
  src: url("../assets/fonts/IBMPlexSans-LightItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-LightItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../assets/fonts/IBMPlexSans-Medium.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Medium.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-MediumItalic";
  src: url("../assets/fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-MediumItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../assets/fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-SemiBold.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  src: url("../assets/fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-SemiBoldItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-Bold.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans-BoldItalic";
  src: url("../assets/fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/IBMPlexSans-BoldItalic.woff") format("woff");
  src: url("../assets/fonts/IBMPlexSans-BoldItalic.woff2") format("woff2");
}

.navbar {
  background-color: #eeeeee;
  height: 3.5rem;
  padding: 1.5rem 0 0 8rem;
}

.navbar__title {
  color: #303841;
  font-weight: 200;
}

.header__img {
  width: 100%;
  height: 700px;
  position: relative;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -180px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 3rem;
  width: 510px;
}

.header__label {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.5rem;
  width: 500px;
  color: #f6f6f6;
  margin-right: 2rem;
}

.header__input {
  height: 3.5rem;
  width: 500px;
  background-color: #f6f6f6;
  border: 2px solid #3a4750;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.header__btn {
  background-color: #f6c90e;
  color: #3a4750;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  border: none;
  width: 16rem;
  height: 3.5rem;
  border-radius: 30px;
}

.movie-details {
  background-color: #f6f6f6;
  padding: 4rem 8rem;
}

.movie-details__poster {
  height: 400px;
  width: 280px;
  margin-right: 4rem;
  border-radius: 10px;
  -webkit-box-shadow: -6px 6px 8px #1b1b1b;
          box-shadow: -6px 6px 8px #1b1b1b;
}

.movie-details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.movie-details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.movie-details__title {
  font-family: "IBMPlexSans-Bold";
  letter-spacing: -0.1rem;
  font-size: 3rem;
  margin-bottom: 0.3rem;
}

.movie-details__date {
  margin-bottom: 0.5rem;
}

.movie-details__cast {
  margin-bottom: 1rem;
}

.movie-details__streaming {
  margin-top: 4rem;
}

.movie-details__streaming-title {
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  color: #3a4750;
  background-color: #f6c90e;
}

.movie-details__streaming-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.movie-details__streaming-service {
  width: 100px;
  margin-right: 2rem;
}

.details-comments {
  padding: 2.5rem 8rem;
}

.details-comments__title {
  font-family: "IBMPlexSans-Bold";
  margin-bottom: 1rem;
}

.details-comments__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 3rem;
  border-bottom: 2px solid #eeeeee;
}

.details-comments__input {
  height: 3rem;
  width: 800px;
  margin-bottom: 1rem;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 1rem;
  font-family: "IBMPlexSans-Light";
  font-size: 1.2rem;
  color: #3a4750;
}

.details-comments__btn {
  justify-self: flex-end;
  height: 2.5rem;
  width: 200px;
  border-radius: 20px;
  background-color: #f6c90e;
  border: none;
}

.details-comments__comment {
  margin-top: 2rem;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #eeeeee;
}

.details-comments__comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.details-comments__comment-username {
  font-family: "IBMPlexSans-SemiBold";
  font-size: 1.5rem;
}

.details-comments__comment-email {
  font-family: "IBMPlexSans-ExtraLight";
  font-size: 1rem;
}

.details-comments__comment-date {
  font-family: "IBMPlexSans-Medium";
  font-size: 1rem;
  color: #3a4750;
}

.details-comments__comment-text {
  font-family: "IBMPlexSans-Light";
  font-size: 1.2rem;
  color: #3a4750;
}

* {
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSans-Regular";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=app.css.map */